@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please visit our <a asp-controller="Picture" asp-action="Index">Gallery</a>.</p>
</div>
