@model LoginModel

@{
    ViewBag.Title = "Sign In ~";
    Layout = "_Layout";
}

<h2>Please Sign In First ...</h2>

<form asp-action="LoginAsync" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="email">Email address:</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Please enter your email ..." />
        @Html.ValidationMessageFor(m => m.Email, null, new { @style = "color: red" })
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
    <a asp-action="Register">Sign Up</a>
</form>