@model LoginModel

@{
    ViewBag.Title = "Sign in ~";
    Layout = "_Layout";
}

<h2>Please Sign in first ...</h2>



<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Please enter your email ..."/>
        @Html.ValidationMessageFor(m => m.Email, null, new { @style = "color: red"})
    </div>
    <div class="form-group">
        <label for="name">Preferred Name:</label>
        <input asp-for="PreferredName" type="text" class="form-control" id="name" placeholder="Please enter your preferred name ..."/>
        @Html.ValidationMessageFor(m => m.PreferredName, null, new { @style = "color: red" })
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>