@using PictureLiker.Controllers
@model UploadModel

@{
    ViewBag.Title = "Upload Your Pictures";
    Layout = "_Layout";

    var maximumTotalFileSize = PictureController.FileConstraints.MaximumTotalFileSizeInBytes / (1024 * 1024);
}

<div class="text-center">
    <h2>Upload Your Picture(s)</h2>
</div>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">
                    <form asp-controller="Picture" asp-action="UploadAsync" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <p>Upload one or more files:</p>

                            <!-- Be aware, IE, Microsoft Edge and some versions of Safari may not support "accept" attribute. -->
                            <input asp-for="Files" type="file" name="files" accept="image/*" multiple />
                            @Html.ValidationMessageFor(m => m.Files, null, new { @style = "color: red" })
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Constraints:</p>
                    <ul>
                        <li>Maximum number of files you can upload each time is @PictureController.FileConstraints.MaximumNumberOfFilesToBeUploaded</li>
                        <li>Maximum total size of files cannot exceed @maximumTotalFileSize MB</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>

